### Maven ###
target/
!**/src/main/**/target/
!**/src/test/**/target/

### Node / Vite ###
node_modules/
dist/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

### NetBeans ###
nbproject/private/
nbbuild/
nbdist/
.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### OS ###
.DS_Store

### PostgreSQL ###
*.dump

### Environment files ###
.env
.env.local
.env.*.local